<div id="contact-list" ng-class="contactList.viewMode">
    <div class="view-mode">
        <a href="#" ng-click="contactList.setViewMode('list')">List</a>
        <a href="#" ng-click="contactList.setViewMode('grid')">Grid</a>
    </div>
    <h3>Contacts</h3>

    <div class="row">
        <div class="contact" ng-repeat="contact in contactList.contacts">
            <p>{{ contact.id }}</p>
            <p>{{ contact.first_name }}</p>
            <p>{{ contact.last_name }}</p>
        </div>
    </div>
</div>