<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="id">ID:</label>
        <div class="col-sm-10">
            <input class="form-control" id="id" type="text" ng-model="contactForm.contact.id">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="first-name">First Name:</label>
        <div class="col-sm-10">
            <input class="form-control" id="first-name" type="text" ng-model="contactForm.contact.first_name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="last-name">Last Name:</label>
        <div class="col-sm-10">
            <input class="form-control" id="last-name" type="text" ng-model="contactForm.contact.last_name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="email">Email:</label>
        <div class="col-sm-10">
            <input class="form-control" id="email" type="text" ng-model="contactForm.contact.email">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="address">address:</label>
        <div class="col-sm-10">
            <input class="form-control" id="address" type="text" ng-model="contactForm.contact.address">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="phone">phone:</label>
        <div class="col-sm-10">
            <input class="form-control" id="phone" type="text" ng-model="contactForm.contact.phone">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="books">books:</label>
        <div class="col-sm-10">
            <input class="form-control" id="books" type="text" ng-model="contactForm.contact.books">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="skills">skills:</label>
        <div class="col-sm-10">
            <input class="form-control" id="skills" type="text" ng-model="contactForm.contact.skills">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="birthday">birthday:</label>
        <div class="col-sm-10">
            <input class="form-control" id="birthday" type="text" ng-model="contactForm.contact.birthday">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="description">description:</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="description" type="text" ng-model="contactForm.contact.description">
            </textarea>
        </div>
    </div>

    <input type="submit" ng-click="contactForm.save()" value="Save" class="btn btn-primary"/>
</form>