<form class="form-horizontal" name="cf" class="form-horizontal">
    <simple-input form="cf"  model="contactForm.contact.id" name="id"></simple-input>
    <simple-input form="cf"  model="contactForm.contact.first_name" name="first_name"></simple-input>
    <simple-input form="cf"  model="contactForm.contact.last_name" name="last_name"></simple-input>
    <simple-input form="cf"  model="contactForm.contact.email" name="email"></simple-input>
    <simple-input form="cf"  model="contactForm.contact.address" name="address"></simple-input>
    <simple-input form="cf"  model="contactForm.contact.phone" name="phone"></simple-input>
    <simple-input form="cf"  model="contactForm.contact.books" name="books"></simple-input>
    <simple-input form="cf"  model="contactForm.contact.skills" name="skills"></simple-input>
    <simple-input form="cf"  model="contactForm.contact.birthday" name="birthday" as="date"></simple-input>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="description">description:</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="description" type="text" ng-model="contactForm.contact.description">
            </textarea>
        </div>
    </div>

    <input type="submit" value="Save" class="btn btn-primary"
           ng-click="contactForm.save()" ng-disabled="cf.$invalid" />
</form>