<div id="contact-list" ng-class="contactList.viewMode">
    <div class="view-mode">
        <a href="#" ng-click="contactList.setViewMode('list')">List</a>
        <a href="#" ng-click="contactList.setViewMode('grid')">Grid</a>
    </div>

    <div class="row">
        <h4>Filters</h4>
        <div class="col-md-4">
            <b>Name: </b>
            <input type="text" ng-model="contactList.filters.full_name">
        </div>
        <div class="col-md-4">
            <b>Email: </b>
            <input type="text" ng-model="contactList.filters.email">
        </div>
        <div class="col-md-4">
            <b>Skill: </b>
            <input type="text" ng-model="contactList.filters.skills">
        </div>
    </div>

    <div class="row">
        <h3>Contacts</h3>

        <div class="contact well" ng-repeat="contact in contactList.contacts | plain | filter: contactList.filters">
            <div class="primary">
                <p>{{ contact.id }}</p>
                <p>{{ contact.first_name }}</p>
                <p>{{ contact.last_name }}</p>
            </div>
            <div class="secondary">

            </div>
            <div class="actions">
                <p><a href="/edit/{{contact.id}}" class="btn btn-primary">Edit</a></p>
                <p><a ng-click="contactList.destroy(contact.id)" class="btn btn-danger">Delete</a></p>
            </div>
        </div>
    </div>
</div>